.login-template {
  background: rgb(255, 255, 255);
  box-shadow: 0 3px 6px rgba(87, 87, 87, 0.1), 0 3px 6px rgba(83, 83, 83, 0.23);

  width: 700px;
  height: 350px;
  border-radius: 20px;

  margin: 0 auto;
  margin-top: 13rem;
}

.form-wrapper {
  padding: 1rem;
}

.login-wrapper {
  min-height: 5rem;
}
