.customBtn {
  width: 25%;
  height: 100%;
  letter-spacing: 0.5px;
  background-color: white;
  color: black;
  cursor: pointer;
  border: none;
}

.activeBtn {
  color: orange;
  font-weight: bold;
  width: 25%;
  height: 100%;
  background-color: white;
  cursor: pointer;
  border: none;
}
